@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Color Styles */
:root {
    --primary: #ffffff;
    --secondary: #2c2c2c;
    --text: #333;
    --accent: #0077ff;
    --bg: #faefef;
    --radius: 8px;
}

/* CSS Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -1;
	background-image: url('https://smk-katolik-mariana.infinityfreeapp.com/assets/image/bg.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

header img {
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--secondary);
}

main section {
    background: var(--primary);
    padding: 2rem;
    width: 330px;
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


label {
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--text);
}

.input-wrapper {
    position: relative;
    width: 300px;
}

.input-wrapper input {
    width: 100%;
}

.toggle-pass {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.6;
    user-select: none;
}

.toggle-pass:hover {
    opacity: 1;
}

input {
    padding: 0.7rem 0.9rem;
    border: 1.5px solid #ddd;
    border-radius: var(--radius);
    font-size: 0.95rem;
    transition: 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 5px rgba(0, 119, 255, 0.35);
}

button {
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    background: var(--accent);
    color: var(--primary);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

button:hover {
    background: #005fcc;
}

button:active {
    transform: scale(0.98);
}

#login-error {
	color:  #ff0000;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}

footer {
	margin-top: 1rem;
}

footer p {
	font-size: 0.9rem;
	font-weight: 700;
    color: var(--secondary);
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 239, 239, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 6px solid var(--primary);
    border-top: 6px solid var(--accent);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.popup-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.popup-container .popup-content {
    background-color: var(--accent);
    padding: 1rem;
    border-radius: var(--radius);
}

.popup-container .popup-content p {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Mobile (≤ 600px) */
@media (max-width: 600px) {
    html, body {
        font-size: 70%;
    }
	main section {
		width: 250px;
	}
    .input-wrapper {
        width: 228px;
    }
    .toggle-pass {
        right: -1rem;
    }
}

/* Tablet (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    html, body {
        font-size: 80%;
    }
	main section {
		width: 300px;
	}
    .input-wrapper {
        width: 250px;
    }
    .input-wrapper {
        width: 276px;
    }
    .toggle-pass {
        right: -1rem;
    }
}

/* Laptop (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    html, body {
        font-size: 100%;
    }
}

/* Desktop (≥ 1201px) */
@media (min-width: 1201px) {
    html, body {
        font-size: 100%;
    }
}